.app__container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.app__header {
  background: url("../public/images/pattern-bg-mobile.png") no-repeat center
    center;
  background-size: cover;
  text-align: center;
  max-height: 18.438rem;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  position: relative;

  padding: 1.25rem 0.625rem;
}

.app__title {
  margin: 0 0 1.25rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.search__input,
.search__button {
  height: 3.5rem;
  padding: 1rem 1.375rem;
}

.search__input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.125rem;
  border-radius: 1rem 0 0 1rem;
  color: var(--Gray-950);
}

.search__button {
  border: none;
  background: black;
  color: #fff;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  transition: background 0.2s ease;
}

.search__button:hover {
  background: #444;
}

.coordinates__text {
  margin: 0;
  opacity: 0.8;
  font-size: 0.9rem;
}

.results__panel {
  background: white;
  border-radius: 15px;
  padding: 1.563rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 68.75rem;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.125rem 3.125rem -1.563rem rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.results__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  gap: 0.5rem;
}

.results__block:last-child {
  border-right: none;
}

.results__label {
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--Gray-400);
  display: block;
}

.results__value {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--Gray-950);
}

.leaflet-control-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .app__header {
    background: url("../public/images/pattern-bg-desktop.png") no-repeat top
      center;
    background-size: cover;
    max-height: 18rem;
    padding: 1.875rem 0 0 0;
  }

  .app__title {
    font-size: 2rem;
    margin: 0 0 1.875rem 0;
  }

  .search__input {
    max-width: 32rem;
  }

  .results__panel {
    min-height: 10rem;
    padding: 2.1rem 0.5rem;
    flex-direction: row;
    transform: translate(-50%, 1.8rem);
  }

  .results__label {
    font-size: 0.75rem;
  }

  .results__block {
    border-right: 1px solid #e2e2e2;
    align-items: flex-start;
  }

  .results__value {
    text-align: left;
    font-size: 1.5rem;
  }
}
